{% extends "base.html" %}
{% block title %}
<title>Rolph Open Team Selection</title>
{% endblock %}
{% block content %}
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
    <div class="w3-content">
        <div class="w3">
            <h1>Team generation</h1>
            <form action="" method="post">
            <input type="submit" name="generate_teams" value="Slumpa nya team" onclick="return confirm('Vill du verkligen slumpa nya team?');" />
            <input type="submit" name="show_next_team" value="Visa nästa team" />
            </form>
        </div>
    </div>
</div>

<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3">
      <h1>Lag</h1>
      <br/>
      <div class="w3-container w3-center">
        {% for team in upcoming_teams %}
            {% if forloop.first %}<div class="card-group">{% endif %}
            {% if forloop.counter0|divisibleby:3 and not forloop.first %}</div><div class="card-group">{% endif %}
            <div class="card text-white mb-3" style="max-width: 18rem;">
                <div class="card-header {% if team.show %} bg-success{% else %} bg-primary {% endif %}">Lag</div>
                <div class="card-body bg-secondary">
                {% for player in team.players.all %}
                    <p class="card-text">{{ player }}</p>
                {% endfor %}
                </div>
            </div>
            {% if forloop.last %}</div>{% endif %}
        {% endfor %}
    </div>
  </div>
</div>

{% endblock %}