{% extends "base.html" %}
{% block title %}
<title>Rolph Open 2022</title>
{% endblock %}
{% block content %}

<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
    <div class="w3-content">
        <div class="w3">
            <h1>Rolph Open 2022</h1>
            <h3>Info</h3>
            <p><b>Plats</b>: <a href="https://www.sotenasgolf.se/" target=”_blank”>Sotenäs GK</a></p>
            <p><b>Datum</b>: 3 September</p>
            <p><b>Första Tee</b>: 09:50</p>
            <p><b>Övrigt</b>: Glöm inte att gå in till receptionen och registrera dig plus betala!</p>
        </div>
    </div>
</div>
  


<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3">
      <h1>Regler</h1>
      <br/>
      <h3>Skötselregler</h3>
      <p><b>Kasta klubba</b>: 2 straffslag</p>
      <p><b>Slå klubba i annat än boll aggressivt</b>: 1 straffslag</p>
      <br/>
      <h3>HCP</h3>
      <p>Spelare med lägst spelhandicap multiplicerar sin spelhandicap med 0,5. Spelaren med den högre spelhandicapen multicerar sin spelhandicap med 0,2.</p>
      <br/>
      <h3>Matchspel Scramble</h3>
      <p>
        Båda spelarna i laget slår ut från varje tee och väljer sedan vilken boll de vill fortsätta med, båda spelarna spelar från det valda läget och väljer vilken boll de fortsätter med ända till hål, och hålet kan antingen vinnas, förloras eller bli oavgjord.
      </p>
      <p>
        Varje lag får endast välja samma spelares boll 2 gånger i rad.
      </p>
    </div>

  </div>
</div>


<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3">
      <h1>Lag</h1>
      <br/>
      <div class="w3-container w3-center">
        <div class="card-group">
            <div class="card text-white mb-3" style="max-width: 18rem;">
                <div class="card-header bg-primary">Lag 1</div>
                <div class="card-body bg-secondary">
                <p class="card-text">Sebastian Lundgren</p>
                <p class="card-text">Tobias Sjöberg</p>
                </div>
            </div>
            <div class="card text-white mb-3" style="max-width: 18rem;">
                <div class="card-header bg-success">Lag 2</div>
                <div class="card-body bg-secondary">
                    <p class="card-text">Hampus Chenon</p>
                    <p class="card-text">Ted Delin</p>
                </div>
            </div>
            <div class="card text-white mb-3" style="max-width: 18rem;">
                <div class="card-header bg-danger">Lag 3</div>
                <div class="card-body bg-secondary">
                    <p class="card-text">Johannes Lyttkens</p>
                    <p class="card-text">Markus Bäckström</p>
                </div>
            </div>
        </div>
        <div class="card-group">
            <div class="card text-white mb-3" style="max-width: 18rem;">
                <div class="card-header bg-warning">Lag 4</div>
                <div class="card-body bg-secondary">
                    <p class="card-text">Joakim Andersson</p>
                    <p class="card-text">Viktor Wallborg</p>
                </div>
            </div>
            <div class="card text-white mb-3" style="max-width: 18rem;">
                <div class="card-header bg-info">Lag 5</div>
                <div class="card-body bg-secondary">
                    <p class="card-text">Jesper Brunbäck</p>
                    <p class="card-text">Tommy Olsen</p>
                </div>
            </div>
            <div class="card text-white mb-3" style="max-width: 18rem;">
                <div class="card-header bg-secondary">Lag 6</div>
                <div class="card-body bg-secondary">
                    <p class="card-text">Anton Österlind</p>
                    <p class="card-text">Robin Wallborg</p>
                </div>
            </div>
        </div>
        <div class="card text-white mb-3" style="max-width: 18rem;">
            <div class="card-header bg-dark">Lag 7</div>
            <div class="card-body bg-secondary">
                <p class="card-text">Joakim Karlsson</p>
                <p class="card-text">Joakim Olsson</p>
            </div>
        </div>
      </div>
      <h1>Tee times</h1>
      <br/>
      <div class="w3-container w3-center">
        <div class="card-group">
            <div class="card text-white mb-3" style="max-width: 18rem;">
                <div class="card-header bg-primary">10:00</div>
                <div class="card-body bg-secondary">
                <p class="card-text">Sebastian/Tobias</p>
                <p class="card-text">Joakim K/Joakim O</p>
                </div>
            </div>
            <div class="card text-white mb-3" style="max-width: 18rem;">
                <div class="card-header bg-primary">10:10</div>
                <div class="card-body bg-secondary">
                    <p class="card-text">Tommy/Jesper</p>
                    <p class="card-text">Markus/Johannes</p>
                </div>
            </div>
            <div class="card text-white mb-3" style="max-width: 18rem;">
                <div class="card-header bg-primary">10:20</div>
                <div class="card-body bg-secondary">
                    <p class="card-text">Robin/Anton</p>
                </div>
            </div>
            <div class="card text-white mb-3" style="max-width: 18rem;">
                <div class="card-header bg-primary">10:30</div>
                <div class="card-body bg-secondary">
                    <p class="card-text">Ted/Hampus</p>
                    <p class="card-text">Joakim A/Viktor</p>
                </div>
            </div>
        </div>
    </div>
    </div>
  </div>
</div>
</body>
</html>

{% endblock %}